<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//ibatis.apache.org//DTD Config 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-config.dtd">

<configuration>

	<settings>
		<setting name="cacheEnabled" value="true" />
		<setting name="lazyLoadingEnabled" value="true" />
		<setting name="multipleResultSetsEnabled" value="true" />
		<setting name="useColumnLabel" value="true" />
		<setting name="autoMappingBehavior" value="PARTIAL" />
		<setting name="defaultExecutorType" value="REUSE" />
		<setting name="defaultStatementTimeout" value="25000" />
	</settings>

	<typeAliases>
		<typeAlias alias="accountDTO" type="org.conan.fans.weibo.model.AccountDTO"/>
		<typeAlias alias="userRelateDTO" type="org.conan.fans.weibo.model.UserRelateDTO"/>
		<typeAlias alias="userBirelateDTO" type="org.conan.fans.weibo.model.UserBirelateDTO"/>
		<typeAlias alias="userDTO" type="org.conan.fans.weibo.model.UserDTO"/>
		<typeAlias alias="userIncreaseDTO" type="org.conan.fans.weibo.model.UserIncreaseDTO"/>
		<typeAlias alias="provincesDTO" type="org.conan.fans.weibo.model.ProvincesDTO"/>
		<typeAlias alias="configDTO" type="org.conan.fans.system.model.ConfigDTO"/>
		<typeAlias alias="limitUserDTO" type="org.conan.fans.system.model.LimitUserDTO"/>
		<typeAlias alias="applyUserDTO" type="org.conan.fans.system.model.ApplyUserDTO"/>
	</typeAliases>

	<mappers>
		<!-- system -->
		<mapper resource="mybatis-mysql.xml" />
		
		<!-- model -->
		<mapper resource="org/conan/fans/weibo/dao/account.xml" />
		<mapper resource="org/conan/fans/weibo/dao/userRelate.xml" />
		<mapper resource="org/conan/fans/weibo/dao/userBirelate.xml" />
		<mapper resource="org/conan/fans/weibo/dao/user.xml" />
		<mapper resource="org/conan/fans/weibo/dao/userIncrease.xml" />
		<mapper resource="org/conan/fans/weibo/dao/provinces.xml" />
		<mapper resource="org/conan/fans/system/dao/config.xml" />
		<mapper resource="org/conan/fans/system/dao/limitUser.xml" />
		<mapper resource="org/conan/fans/system/dao/applyUser.xml" />
	</mappers>
	
</configuration>