<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<!--
    This is Config sql
    @author Conan Zhang
    @date 2012-05-26
-->
<mapper namespace="org.conan.fans.system.dao.ConfigDAO">

    <resultMap id="result" type="configDTO">
        <result property="id" column="id" javaType="java.lang.Integer"/>
        <result property="create_date" column="create_date" javaType="java.sql.Timestamp"/>
        <result property="imgUrl" column="imgUrl" javaType="java.lang.String"/>
        <result property="template" column="template" javaType="java.lang.String"/>
        <result property="type" column="type" javaType="java.lang.String"/>
    </resultMap>

    <sql id="select">
        SELECT
            id,
            create_date,
            imgUrl,
            template,
            type
    </sql>

    <sql id="condition">
        <if test="create_date!=null">create_date = #{create_date} and</if>
        <if test="imgUrl!=null">imgUrl = #{imgUrl} and</if>
        <if test="template!=null">template = #{template} and</if>
        <if test="type!=null">type = #{type} and</if>
        1=1
    </sql>

    <insert id="insertConfig" parameterType="configDTO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_config(
            <if test="create_date!=null ">create_date,</if>
            <if test="imgUrl!=null ">imgUrl,</if>
            <if test="template!=null ">template,</if>
            type
        ) VALUES (
            <if test="create_date!=null">#{create_date},</if>
            <if test="imgUrl!=null">#{imgUrl},</if>
            <if test="template!=null">#{template},</if>
            #{type}
        )
    </insert>

    <delete id="deleteConfig" parameterType="java.lang.Integer">
        DELETE FROM t_config
        WHERE
            id = #{id}
    </delete>

	<delete id="deleteConfigs" parameterType="java.util.Map">
        DELETE FROM t_config
        WHERE
        <include refid="condition"/>
    </delete>

    <update id="updateConfig" parameterType="configDTO">
        UPDATE t_config
        SET
            <if test="create_date!=null">create_date = #{create_date},</if>
            <if test="imgUrl!=null">imgUrl = #{imgUrl},</if>
            <if test="template!=null">template = #{template},</if>
            <if test="type!=null">type = #{type},</if>
            id = #{id}
        WHERE
            id = #{id}
    </update>

    <select id="getConfigById" parameterType="java.lang.Integer" resultMap="result">
        <include refid="select"/>
        FROM
            t_config
        WHERE
            id = #{id}
    </select>
    
    <select id="getConfigOne" parameterType="java.util.Map" resultMap="result">
        <include refid="select"/>
        FROM
            t_config
        WHERE
        <include refid="condition"/>
        limit 1
    </select>

    <select id="getConfigs" parameterType="java.util.Map" resultMap="result">
        <include refid="select"/>
        FROM
            t_config
        WHERE
        <include refid="condition"/>
        <include refid="mysql.page.order"/>
        <include refid="mysql.page.limit"/>
    </select>

    <select id="getConfigsCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT
            count(id)
        FROM
            t_config
        WHERE
        <include refid="condition"/>
    </select>


</mapper>
